name: CI

on: [push, pull_request]

env:
  GIT_DEFAULT_BRANCH: ${{github.event.repository.default_branch}}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true
      - name: Check RBIs and index
        run: |
          git fetch origin "$GIT_DEFAULT_BRANCH"
          bundle exec repo check --gem --ref "origin/$GIT_DEFAULT_BRANCH"
